language: php

php:
  - 7.2
  - 7.3

matrix:
  include:
    - php: 7.2
      env: |
        SYMFONY_VERSION=^3.0
    - php: 7.2
      env: |
        SYMFONY_VERSION=^4.0

before_install:
  - echo "extension = mongodb.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
  - |
    if [ "${SYMFONY_VERSION}" != "" ]; then
      packages="form dependency-injection config http-foundation http-kernel options-resolver security-guard serializer"
      devpackages="framework-bundle browser-kit templating expression-language"
      for package in $packages
        do
          composer require --no-update symfony/"$package"=${SYMFONY_VERSION};
         done
      for package in $devpackages
        do
          composer require --dev --no-update symfony/"$package"=${SYMFONY_VERSION};
        done
    fi;

install:
  - travis_retry composer self-update
  - travis_retry composer update ${COMPOSER_FLAGS} --no-interaction
  - curl -s http://getcomposer.org/installer | php
  - php composer.phar install --dev --no-interaction

script:
  - mkdir -p build/logs
  - php vendor/bin/phpunit -c phpunit.xml.dist

after_success:
  - php vendor/bin/php-coveralls
